/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap'); */

:root{
    font-family: 'Bungee Spice', cursive;
    background-color: #b3c339;
    background-image: url("https://assets.pokemon.com//assets/cms2-de-de/img/misc/virtual-backgrounds/masters/forest.jpg");
    height: 100%; 
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    --primary-color:#E7F0D1 ;
    --secondary-color:  #CDD993;
    --terciary-color: wheat;
    --primary-color-border: #2B4F33;
    --secondary-color-border: orange;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-align: center;
}

.subtitulo{
    font-size: 24px;
    display: flex;
    justify-content: center;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas{
    display: flex;
}

.tarjeta-de-mokepon{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background: var(--primary-color);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid var(--primary-color-border);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

input[type="radio"]:checked + label{
    background-color: #9BC186;
}

.tarjeta-de-mokepon img{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
}

input{
    display: none;
}

#btn-mascota{
    width: 180px;
    height: 40px;
    background:var(--primary-color);
    border-radius: 40px;
    color: black;
    border: 2px solid var(--primary-color-border) ;
    font-family: 'Bungee Spice', cursive;
    margin: 20px 0px 0px 0px;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa{
    width: 39%;
    height: 100%;
    border: 2px solid var(--primary-color-border);
    border-radius: 15px;
    background-color: var(--terciary-color);
}

#direction-rows{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 150px;
    width: 150px;
    grid-template-areas: 
    ". btn-up ."
    "btn-left . btn-right"
    ". btn-down .";
}

.movement-btn{
    border-color: var(--secondary-color-border);
    background-color: var(--terciary-color);
    border-radius: 3px;
}

#btn-up{
    grid-area: btn-up;
}

#btn-left{
    grid-area: btn-left; 
}

#btn-right{
    grid-area: btn-right;
}

#btn-down{
    grid-area: btn-down;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.ataques{
    width: 180px;
    height: 40px;
    background: var(--terciary-color);
    border-radius: 40px;
    border: 2px solid var(--secondary-color-border);
    font-family: 'Bungee Spice', cursive;
    font-size: large;
    margin: 20px 0px 0px 0px;
}

#botones{
    display: flex;
    justify-content: center;
}

#reiniciar{
    margin: 15px 0 0 0;
    justify-content: center;
}

#btn-reiniciar{
    width: 180px;
    height: 40px;
    background: var(--terciary-color);
    border-radius: 40px;
    border: 2px solid var(--secondary-color-border);
    font-family: 'Bungee Spice', cursive;
    font-size: large;
    margin: 0px 0px 20px 0px;
}

#ataques{
    display: grid;
    grid-template-columns: 150px 150px;
    background: var(--terciary-color);
    border: 3px solid var(--secondary-color-border);
    border-radius: 15px;
    padding: 20px;
}

#mensajes-container{
    width: 45%;
    margin: 15px 0px;
}

#mensajes-combate{
    box-sizing: border-box;
    height: 19%;
    width: 100%;
    border: 5px solid var(--primary-color-border);
    padding: 15px;
    border-radius: 15px;
    background-color: var(--primary-color);
    text-align: center;
}

#mensaje-final{
    margin: 5px 0;
    display: none;
    justify-content: center;
    border : 5px solid var(--secondary-color-border);
    border-radius: 5px;
    padding : 10px 0px;
    background-color : var(--terciary-color);
}

@media (max-width: 1000px) {
    .titulo {
        display: flex;
        justify-content: center;
        font-size: 32px;
        text-align: center;
    }

    .subtitulo{
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    .tarjetas{
        display: grid;
        grid-template-columns: 50% 50%;
        /*align-items: center;
        justify-content: center;*/
    }

    #botones{
        display: flex;
        flex-direction: column;
        align-items: center;      
    }

    #mapa{
        width: 100%;
        height: 100%;
        border: 2px solid var(--primary-color-border);
        border-radius: 15px;
        background-color: var(--terciary-color);
    }

    #direction-rows{
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 150px;
        width: 150px;
        grid-template-areas: 
        ". btn-up ."
        "btn-left . btn-right"
        ". btn-down .";
    }

    #mensajes-container{
        width: 100%;
        margin: 15px 0px;
    }
}